.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-stacked {
  max-width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control,
.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box; /* Important */
}

.form-group textarea {
  min-height: 120px;
  resize: vertical;
}

.search-bar {
  margin-bottom: 2rem;
  max-width: 400px;
}

.review-form-container {
  border-left: 3px solid #007bff;
  padding-left: 2rem;
}


.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(61, 90, 128, 0.2); /* Use a light version of primary color */
}

.btn {
  transition: background-color 0.2s, transform 0.2s;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: #293241; /* A darker shade */
  transform: translateY(-2px);
}

.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: translateY(0);
}